/* .student{
border: 2px solid red;
}
.form{
border: 1px solid blue;
}
.table{
border: 3px solid green;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.heading{
border: 2px solid rgb(127, 95, 195);
}
.trbody{
    border: 3px solid yellowgreen;
} */
body{
    background-color: grey;
}

input{
    height: 20px;
    width: 300px;
    margin-bottom: 10px;
}
.form{
    /* border: 2px solid red; */
    display: inline-block;
    margin-bottom: 10px;
}

.customTable {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 60%;
    border-collapse: collapse;
  }
  
  .customTable th,
  .customTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .customTable th {
    background-color: #f2f2f2;
  }
  
  .customTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .customTable tbody tr:hover {
    background-color: #e6e6e6;
  }
  .customInput {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .customInput:focus {
    border-color: #2196f3;
    box-shadow: 0 0 0 2px #2196f3;
  }
  
  label{
    font-size: 20px;
  }
  .btn{
    cursor: pointer;
    background-color: #2196f3;
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin: 10px;
    box-shadow: 0 0 0 2px #2196f3;
  }